#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  justify-content: space-evenly;
}
.search_small_screen_display,
.more_small_screen_display {
  display: none;
}
@media screen and (max-width: 63em) {
  .search_header,
  .more_from_linked_in {
    display: none;
  }
  .search_small_screen_display,
  .more_small_screen_display {
    display: flex;
  }
}
