* {
  margin: 0;
}
#show_small_search {
  display: none;
}
#input_header:focus {
  box-shadow: none;
}
#header_icons:hover {
  color: black;
}
.connection_sidebar:hover,
.who_viewed_sidebar:hover,
.access_sidebar:hover,
.items_sidebar:hover {
  background-color: rgb(212, 212, 212);
  cursor: pointer;
}
@media screen and (max-width: 63em) {
  #search_small,
  #hide_label_header {
    display: none;
  }
  #show_small_search {
    display: flex;
  }
}
#try_premium:hover {
  text-decoration: underline;
}
