* {
  margin: 0;
}
#show_small_search {
  display: none;
}
#input_header:focus {
  box-shadow: none;
}
#header_icons:hover {
  color: black;
}
#sidebar_link_heading:hover {
  text-decoration: underline;
}
.App_sidebar,
.sidebar {
  background-color: rgb(247, 247, 237);
}
.connection_sidebar:hover,
.who_viewed_sidebar:hover,
.access_sidebar:hover,
.items_sidebar:hover,
#list_items_sidebar:hover {
  background-color: rgb(245, 239, 239);
  cursor: pointer;
}
#start_post_type:hover {
  background-color: rgb(231, 231, 231);
  transition-duration: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 63em) {
  #search_small,
  #hide_label_header,
  #sidebar_left,
  #sidebar_right,
  #start_post_title {
    display: none;
  }
  #show_small_search {
    display: flex;
  }
  #app_body {
    flex: 1;
    width: 63em;
  }
}
#try_premium:hover {
  text-decoration: underline;
}
