#loader {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#external {
  width: 200px;
  background-color: lightgray;
  height: 5px;
  border-radius: 150px;
}
#internal {
  background-color: rgb(2, 110, 199);
  width: 20px;
  height: 5px;
  border-radius: 150px;
  animation: anime 2s infinite;
}
@keyframes anime {
  0% {
    margin-left: 0px;
    width: 50px;
  }
  25% {
    margin-left: 100px;
    width: 100px;
  }
  /* 10% {
    margin-left: 40px;
    width: 60px;
  }
  20% {
    margin-left: 80px;
    width: 80px;
  }
  30% {
    margin-left: 120px;
    width: 80px;
  }
  40% {
    margin-left: 140px;
    width: 60px;
  } */
  50% {
    margin-left: 150px;
    width: 50px;
  }
  75% {
    margin-left: 50px;
    width: 150px;
  }

  /* 60% {
    margin-left: 140px;
    width: 60px;
  }
  70% {
    margin-left: 120px;
    width: 80px;
  }
  80% {
    margin-left: 80px;
    width: 80px;
  }
  90% {
    margin-left: 40px;
    width: 60px;
  } */
  100% {
    margin-left: 0px;
    width: 50px;
  }
}
